*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        135deg,
        #0c7d99,
        #e5e5e9
    );

    padding:20px;
}

.container{
    width:100%;
    max-width:550px;

    background:white;

    padding:40px;

    border-radius:25px;

    box-shadow:
    0 15px 40px rgba(20, 97, 121, 0.658);

    animation:fadeIn .8s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(20px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

.header{
    text-align:center;
    margin-bottom:30px;
}

h1{
    color:#118686;
    margin-bottom:10px;
}

.subtitulo{
    color:#777;
    font-size:.95rem;
}

.menu{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.btn{
    text-decoration:none;

    background:#056468;
    color:white;

    padding:16px;

    border-radius:12px;

    text-align:center;

    font-size:18px;

    transition:.3s;
}

.btn:hover{
    background:#0c3564;

    transform:translateY(-3px);

    box-shadow:
    0 10px 20px rgba(51, 55, 77, 0.3);
}

.footer{
    margin-top:25px;
    text-align:center;
    color:#777;
    font-size:.9rem;
}